<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a id="logo-a" href="/" class="navbar-brand" style="padding: 0px !important; display: block;">
                <img id="logo" src="/images/logo_upp.png" alt="Logo">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Menu</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <% if (message.lenght > 0) { %>
        <div class="alert alert-danger">
            <%= message %>
        </div>
        <% } %>
        
    <form action="/login" method="post" id="login">
        <h2 class="mt-5 mb-4 text-center">Iniciar Sesión</h2>
        <div class="form-group">
            <input type="email" class="form-control mb-3" name="email" placeholder="Correo electrónico" required>
        </div>
        <div class="input-group">
            <input type="password" class="form-control mb-3" name="password" id="password" placeholder="Contraseña"
                required>
            <div class="input-group-append">
                <button type="button" id="togglePassword" class="btn btn-outline-secondary"
                    onclick="passwordVisibility()">Mostrar</button>
            </div>
        </div>

        <button type="submit" class="btn btn-dark mx-auto d-block" name="login">Entrar</button>
    </form>

    <p class="mt-3">¿No tienes una cuenta? <a href="/signup">Regístrate</a></p>

    <%- include('partials/footer') %>
</body>

</html>