<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-white ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a id="logo-a" href="/" class="navbar-brand" style="padding: 0px !important; display: block;">
            <img id="logo" src="/images/logo_upp.png" alt="Logo">
          </a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="btn" aria-current="page" href="#">Menu</a>
              </li>
              <li class="nav-item">
                <a class="btn" href="#">Explorar</a>
              </li>
              <li class="nav-item">
                <a class="btn" href="#">Acerca de</a>
              </li>
            </ul>
          </div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/logout" class="btn btn-outline-dark" style="margin-right: 40px;" >Cerrar sesión</a>
            </li> 
          </ul>
        </div>
    </nav>
    <div class="container">
        <div class="col sm 6">
            <div class="card">
                <div class="card body">
                    <h3 class="card title">
                        <span class="fa fa-user">Local</span>
                    </h3>
                    <p>
                        <strong>id: </strong> <%= user._id%> <br>
                        <strong>correo: </strong> <%= user.local.email %> <br>
                        <strong>contraseña: </strong> <%= user.local.password %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>